In [7]:
import numpy as np
import pandas as pd
demo = pd.read_excel(io = 'data/demo.xlsx')

In [9]:
demo.head()

   姓名  年龄       出生日期   爱好   关系
0  小杰  24 1991-01-01   看书  好朋友
1  小胖  24 1992-01-01  弹吉他  NaN
2  小鹏  24 1992-01-01  弹吉他  NaN